@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.Toastify__toast--error {
  border: 1px solid #eb5757;
  border-radius: 20px !important;
  background: #1c2026 !important;
}
.Toastify__toast--success {
  border: 1px solid #ffffff27 !important;
  border-radius: 20px !important;
  background: #1c2026 !important;
}
.Toastify__toast--warning {
  border: 1px solid #e78326 !important;
  border-radius: 20px !important;
  background: #1c2026 !important;
}
.Toastify__toast-body {
  color: rgba(255, 255, 255, 0.629);
  font-size: 16px;
  padding-left: 20px;
  line-height: 20px;
  padding: 0px;
  padding-top: 25px;
  width: 100%;
  font-weight: 400;
}
.Toastify__toast > button > svg {
  display: none;
}
